@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-thinitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto New';
    src: url('/css/fonts/roboto-blackitalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed New';
    src: url('/css/fonts/robotocondensed-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed New';
    src: url('/css/fonts/robotocondensed-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed New';
    src: url('/css/fonts/robotocondensed-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Condensed New';
    src: url('/css/fonts/robotocondensed-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed New';
    src: url('/css/fonts/robotocondensed-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto Condensed New';
    src: url('/css/fonts/robotocondensed-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}