#menusite.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}
#menusite.navbar-default {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
}
#menusite.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}
#menusite.navbar-default .navbar-nav>li>a:hover,
#menusite.navbar-default .navbar-nav>li>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(250, 250, 250, 1);
}
#menusite.navbar-default .navbar-nav>.active>a,
#menusite.navbar-default .navbar-nav>.active>a:hover,
#menusite.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(51, 204, 255, 1);
    background-color: rgba(255, 255, 255, 1);
}
#menusite.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#menusite.navbar-default .navbar-toggle:hover,
#menusite.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#menusite.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#menusite.navbar-default .navbar-toggle:hover .icon-bar,
#menusite.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}